@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-800 text-white;
  }
  h2 {
    @apply text-xl font-bold;
  }
}

.switch {
  @apply relative inline-block w-10 h-6;
}

.slider {
  @apply absolute bg-gray-300 rounded-2xl cursor-pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  @apply absolute bg-white rounded-2xl h-4 w-4;
  content: "";
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}